Repository nette/docs, pull requests merged in 2018-02, with the labels that each got.

#663 Ajax: added control getParameterId
  cs/ajax.texy
  en/ajax.texy
Labels: Area: Ajax, Status: Review Needed, Type: Enhancement

#637 Mention caching in migration
  cs/migration-2-4.texy
  en/migration-2-4.texy
Labels: Area: Docs, Type: Deprecated

#640 Routing: add info about caching
  cs/routing.texy
  en/routing.texy
Labels: Area: Routing, Type: Enhancement

#676 Database Explorer: fix FileStorage namespace
  cs/database-explorer.texy
  en/database-explorer.texy
Labels: Area: Database, Type: Typo
