Repository nette/docs, pull requests merged in 2018-03, with the labels that each got.

#675 Configuring: added latte.templateClass
  cs/configuring.texy
  en/configuring.texy
Labels: Area: Configuring, Area: Latte, Type: New Stuff

#683 configuration: added showing session data in Tracy bar
  cs/configuring.texy
  en/configuring.texy
Labels: Area: Configuring, Type: New Stuff

#692 coding-standard.texy: fix typo in link to guidelines
  www/en/coding-standard.texy
Labels: Area: Nette, Type: Typo
